#Ignore binary
SnysServer
#Files that don't need to be shared
*~
*#
*.o
*.hi
.my.cnf*
.mysql*
#Ignore ssl certificate directory contents
ssl/*
#Ignore credentials file as well for security reasons. The sample will be uploaded
credentials.txt